@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-rainbow: rainbow 2s linear infinite;
  @keyframes rainbow {
    from {
      background-position: -100%;
    }
    to {
      background-position: 100%;
    }
  }


  --animate-spin-star: spin-star 2s linear infinite;
  @keyframes spin-star {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



  --font-lenia: "Lenia", "sans-serif";
  --font-ltserif: "LTSerif", "sans-serif";
  --font-instrui: "InstruItalic", "sans-serif";

  --color-color-1: 0 100% 63%;
  --color-color-2: 270 100% 63%;
  --color-color-3: 210 100% 63%;
  --color-color-4: 195 100% 63%;
  --color-color-5: 90 100% 63%;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --color-1: 0 100% 63%;
        --color-2: 270 100% 63%;
        --color-3: 210 100% 63%;
        --color-4: 195 100% 63%;
        --color-5: 90 100% 63%;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@font-face {
  font-family: Inter; 
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/Inter.ttf");
}

@font-face {
  font-family: Lenia;
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/Lenia.otf");
}

@font-face {
  font-family: LTSerif;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/LTSerif.otf");
}

@font-face {
  font-family: InstruItalic;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/InstruItalic.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  background-color: var(--background);
}

html:not(.dark) {
  background-color: #ffffff;
}

html.dark {
  background-color: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lenia", Arial, sans-serif;
  transition: background-color 0s;
}

::view-transition-new(root) {
  mask: url('/images/batman.svg') center / 0 no-repeat;
  animation: scale 1s forwards;
  background-color: #ffffff;
}

.dark::view-transition-new(root) {
  background-color: #0a0a0a;
}

::view-transition-old(root) {
  animation: none;
  z-index: -1;
  background-color: #ffffff;
}

.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
  background-color: #0a0a0a;
}

::view-transition-group(root) {
  background-color: #ffffff;
}

.dark::view-transition-group(root) {
  background-color: #0a0a0a;
}

@keyframes scale {
  to {
    mask-size: 350vmax;
  }
}
